---
layout: default
---

{% for data in site.tags %}
{% assign tagName = data[0] %}
{% assign posts = data[1] %}

  <h1 class="page-title" id="{{ tagName }}">{{ tagName }}</h1>
  <hr/>
    
    {% for post in posts %}
      {% if forloop.first %}<ul class="related-posts">{% endif %}
      <li>
        <h4>
          <a href="{{ post.url | prepend:site.baseurl }}">
            <span>{{ post.title }}</span>
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h4>
      </li>
      {% if forloop.last %}</ul><hr/>{% endif %}
    {% endfor %}
{% endfor %}